<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <h1>Student roster</h1>
    <h2>There are <%= left %> students in this roster.</h2>
    <form action="/todos/createTodo" method='POST'>
        <input type="text" placeholder="Enter Student Name" name='todoItem'>
        <input type="submit">
    </form>
    <ul>
    <% todos.forEach( el => { %>
            <li class='todoItem' data-id='<%=el._id%>'>
                <span class='<%= el.completed === true ? 'completed' : 'not'%>'><%= el.todo %></span>
                <span>has <%= el.totalPoints %> total points |</span>
                <span><%= el.positivePoints %> Positive |</span>
                <span><%= el.negativePoints %> Negative |</span>
                <span class='del'> Delete </span>
                <br>
                <span class='pos'>Add Positive Points | </span>
                <span class="neg">Add Negative Points</span>
            </li>
    <% }) %>    
    </ul>

    

    

    <a href="/logout">Logout</a>

    <script src="js/main.js"></script>
</body>
</html>